nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.dark-nav{
    background: rgba(33, 46, 160, 0.8);
    backdrop-filter: blur(24px);
    transition: 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.btn:hover {
    background-color: rgb(19, 23, 241);
    color: white;
  }